.fr-fr

    section#connect
        
        #connect-content
            
            #connect-headline

                p.sub-text
                    max-width: 390px
                    
                    @media(max-width:680px)
                        max-width: 292px