.zh-ch

    section#home
        height: auto;

        #home-content
            padding: 138px 0 85px 65px

            img#tennis-player-bg
                position: absolute
                top: -48px
                right: -30px
                z-index: 4
                width: auto
                max-width: 600px

                @media(max-width:955px)
                    width: 520px
                    top: -20px

                @media(max-width:855px)
                    width: 470px
                    top: 0px

                @media(max-width:775px)
                    width: 420px
                    top: 20px

                @media(max-width:725px)
                    width: 370px
                    top: 40px

            p
                &.medium
                    font-weight: bolder

                &.sub-text
                    max-width: 169px

            a
                visibility:hidden


        @media(max-width:680px)
            height: 450px

            #home-content

                img#tennis-player-bg
                    margin: 0 auto
                    max-width: 240px
                    left: 0
                    right: 0
                    top: 100px

                p
                    &.medium
                        right: 71px

                    &.large
                        right: 84px


                    &.sub-text
                        color:white
                        font-family:BentonSansExtraComp
                        font-size:14px
                        margin-bottom:25px
                        max-width:120px
                        top: 88px
                        right: 30px
                        visibility: hidden

                img#scroll-to-learn
                    display: none




