


g.content-hotspot(id="hotspot2-#{id}#{index ? index : ''}"  data-id="#{id}")
    g.gray-circle
        circle(stroke="#3c3c3c" stroke-width="4" cx="0" cy="0" r="10px" fill="transparent")

    g.plus-sign
        g
            rect.v(width="2px" height="8px" fill="#2c2c2c")
            rect.h(width="8px" height="2px" fill="#2c2c2c")

    g.gray-stroke
        circle(stroke="#2c2c2c" stroke-width="4" cx="0" cy="0" r="19px" fill="transparent")
