g.hotspot(id="hotspot-#{id}" data-id="#{id}")
    g.orange-circle
        circle(stroke="#F4CE21" stroke-width="6" cx="0" cy="0" r="12px" fill="#FF6C00")

    g.plus-sign
        g
            rect.v(width="2px" height="8px" fill="#ffffff")
            rect.h(width="8px" height="2px" fill="#ffffff")

    g.yellow-stroke

        circle(stroke="#F4CE21" stroke-width="4" cx="0" cy="0" r="19px" fill="transparent")
    g.white-stroke

        circle(cx="0" cy="0"  r="32px" stroke="#ffffff" stroke-width="10" fill="transparent")


