.jp-jp
    section#specs
        #specs-content
            #specs-headline
                .bottom
                    width: 100%
                    margin-left: 0%
                    line-height: 48px
                    font-size: 40px

                    @media(max-width:860px)
                        width: 100%
                        margin-left: 0%
                        font-size: 42px
                        line-height: 50px

            #specs-btn-wrapper
                top: 1100px



        @media(max-width:680px)
            #specs-content
                #specs-headline
                    width: 75%

                    .bottom
                        width: 125%
                        margin-left: -14%
                        font-size: 22px
                        line-height: 30px



            #specs-table-wrapper
                #mobile-specs-gallery
                    .racket-container
                        .stat-wrapper.age
                            display: none

