.fr-fr
    #hero-overlay
        .overlay-container
            .video-caption
                p
                    font-size: 21px

                    @media(max-width: 680px)
                        font-size: 20px;

