.de-de
    #hero-overlay
        .overlay-container
            .video-title
                span
                    font-size: 53px

            @media(max-width: 680px)
                .video-caption
                    p
                        font-size: 19px

