.es-es

    section#connect
        
        #connect-content
            #connect-headline
                p
                    &.sub-text
                        max-width: 385px
                        
                        @media(max-width:680px)
                            max-width: 250px
