

g.hotspot.pd(id="hotspot-#{id}#{index}" data-id="#{id}")
    g.orange-circle
        circle(stroke="#F4CE21" stroke-width="6" cx="0" cy="0" r="12px" fill="#FF6C00")

    g.plus-sign
        g
            rect.v(width="2px" height="8px" fill="#ffffff")
            rect.h(width="8px" height="2px" fill="#ffffff")

    g.white-stroke

        circle(stroke="#ffffff" stroke-width="1" cx="0" cy="0" r="12px" fill="transparent")


