@font-face {
    font-family: BentonSansRegular;
    src: url("../fonts/BentonSans_Regular.eot");
    src: url("../fonts/BentonSans_Regular.woff") format("woff"),
         url("../fonts/BentonSans_Regular.ttf") format("truetype"),
         url("../fonts/BentonSans_Regular.svg") format("svg");
}

@font-face {
    font-family: BentonSansComp;
    src: url("../fonts/BentonSansComp_Regular.eot");
    src: url("../fonts/BentonSansComp_Regular.woff") format("woff"),
         url("../fonts/BentonSansComp_Regular.ttf") format("truetype"),
         url("../fonts/BentonSansComp-Regular.otf") format("opentype");
}

@font-face {
    font-family: BentonSansComp-Light;
    src: url("../fonts/BentonSansComp-Light.eot");
    src: url("../fonts/BentonSansComp-Light.woff") format("woff"),
         url("../fonts/BentonSansComp-Light.ttf") format("truetype"),
         url("../fonts/BentonSansComp-Light.otf") format("opentype");
}

@font-face {
    font-family: BentonSansComp-Book;
    src: url("../fonts/BentonSansComp-Book.eot");
    src: url("../fonts/BentonSansComp-Book.woff") format("woff"),
         url("../fonts/BentonSansComp-Book.ttf") format("truetype"),
         url("../fonts/BentonSansComp-Book.otf") format("opentype");
}

@font-face {
    font-family: BentonSansComp-Bold;
    src: url("../fonts/BentonSansComp_Bold.eot");
    src: url("../fonts/BentonSansComp_Bold.woff") format("woff"),
         url("../fonts/BentonSansComp_Bold.ttf") format("truetype"),
         url("../fonts/BentonSansComp-Bold.otf") format("opentype");
}

@font-face {
    font-family: BentonSansComp-Medium;
    // src: url("../fonts/BentonSansComp-Book.eot");
    // src: url("../fonts/BentonSansComp-Bold.woff") format("woff"),
         // url("../fonts/BentonSansComp-Bold.ttf") format("truetype"),
    src: url("../fonts/BentonSansComp-Medium.otf") format("opentype");
}

@font-face {
    font-family: BentonSansExtraComp;
    // src: url("../fonts/BentonSansComp-Book.eot");
    // src: url("../fonts/BentonSansComp-Bold.woff") format("woff"),
         // url("../fonts/BentonSansComp-Bold.ttf") format("truetype"),
    src: url("../fonts/BentonSansExtraComp-Regular.otf") format("opentype");
}

@font-face {
    font-family: BentonSansExtraComp-Bold;
    src: url("../fonts/BentonSansExtraComp_Bold.eot");
    src: url("../fonts/BentonSansExtraComp_Bold.woff") format("woff"),
         url("../fonts/BentonSansExtraComp_Bold.ttf") format("truetype"),
         url("../fonts/BentonSansExtraComp-Bold.otf") format("opentype");
}

@font-face {
    font-family: BentonSansExtraComp-Light;
    src: url("../fonts/BentonSansExtraComp_Light.eot");
    src: url("../fonts/BentonSansExtraComp_Light.woff") format("woff"),
         url("../fonts/BentonSansExtraComp_Light.ttf") format("truetype"),
         url("../fonts/BentonSansExtraComp-Light.otf") format("opentype");
}

@font-face {
    font-family: BentonSansExtraComp-Medium;
    src: url("../fonts/BentonSansExtraComp_Medium.eot");
    src: url("../fonts/BentonSansExtraComp_Medium.woff") format("woff"),
         url("../fonts/BentonSansExtraComp_Medium.ttf") format("truetype"),
         url("../fonts/BentonSansExtraComp-Medium.otf") format("opentype");
}

@font-face {
    font-family: BentonSansCond;
    // src: url("../fonts/BentonSansComp-Book.eot");
    // src: url("../fonts/BentonSansComp-Bold.woff") format("woff"),
         // url("../fonts/BentonSansComp-Bold.ttf") format("truetype"),
    src: url("../fonts/BentonSansCond-Regular.otf") format("opentype");
}

@font-face {
    font-family: BentonSansCond-Bold;
    // src: url("../fonts/BentonSansComp-Book.eot");
    // src: url("../fonts/BentonSansComp-Bold.woff") format("woff"),
         // url("../fonts/BentonSansComp-Bold.ttf") format("truetype"),
    src: url("../fonts/BentonSansCond-Bold.otf") format("opentype");
}