global-reset()


@import "fonts.styl"
@import "app.styl"


@import "video.styl"
@import "video/*.styl"
@import "home/*.styl"
@import "specs/*.styl"
@import "burn-challenge/*.styl"
@import "team-burn/*.styl"
@import "connect/*.styl"

@import "vendor/font-awesome.css"
@import "vendor/swiper.css"


/*
@import "survey.styl"
@import "login.styl"
@import "end.styl"
*/


